{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="padit headFont" align="left">
<h2  style="color:black">Welcome {{request.user.username}} | <a href="{%  url 'authorize:home'   %}" style="font-size: xx-large">Home</a>  | <a href="{%  url 'auth_logout'   %}" style="font-size: xx-large">Logout</a> </h2>
</div>
    <br>
<div class="padit">
    {% crispy form %}
    {% if flag %}
    <p class="label_help_cls text-danger">A category with that name already exists !</p>
    {% endif %}
</div>


{% endblock %}


