{%  extends 'base.html' %}

{% block content %}

<div class="padit headFont" align="left">
<h2  style="color:black">Welcome {{request.user.username}} | <a href="{%  url 'authorize:home'   %}" style="font-size: xx-large">Home</a>  | <a href="{%  url 'auth_logout'   %}" style="font-size: xx-large">Logout</a> </h2>
</div>
<div class ="padit" style="font-size: 30px" align="right" >

<a href="{% url 'authorize:add_url' cat_id=cat.id  %}"> Add URL</a>
</div>
{% ifequal cat.urls.all.count 0 %}
 <div class="container ">
      <div class="jumbotron">
        <h3>This Category has no urls!</h3>
      </div>
 </div>

{% else %}
   {% for url in cat.urls.all %}
  <div class="container ">
      <div class="jumbotron">
          <h3> <a href =  {{url.url}}>{{url.url}}</a>  </h3>
    <br>
   <h3>{{url.description}}</h3>
    <br>
   <h3>{{url.date}}</h3>
          </div>
  </div>
    {% endfor %}
 {% endifequal  %}
{% endblock %}